{{#if showBlockingMessage}}
  <div class="maintenance-message-message--wrapper">
    <div class="maintenance-message-message--container">
      <h1>
        Join us on Discord
      </h1>
      <div class="maintenance-message-message--contents">
        We are sunsetting the forums due to technical issues, please join us on Discord to chat with the community: <a href="https://discord.gg/FtddS6Fwve">https://discord.gg/FtddS6Fwve</a>
      </div>
    </div>
  </div>
{{else}}
  <div class="maintenance-message-message--staff-note">
    {{theme-i18n "staff_message"}}
  </div>
{{/if}}